################
# Docker compose
################

export COMPOSE_PROJECT_NAME="museflow"
export APP_PORT_LOCAL_FORWARD=8000

###################
# Database settings
###################

export DATABASE_HOST="127.0.0.1"
export DATABASE_PORT=5432
export DATABASE_USER="museflow"
export DATABASE_PASSWORD="museflow"
export DATABASE_PATH="museflow"

##################
# Spotify settings
##################

export SPOTIFY_CLIENT_REDIRECT_URI="http://127.0.0.1:8000/api/v1/spotify/callback"

##############
# App settings
##############

export MUSEFLOW_ACCESS_TOKEN_EXPIRE_MINUTES=1400
export MUSEFLOW_DEBUG="true"
export MUSEFLOW_LOCALE="fr-FR"
export MUSEFLOW_LOG_LEVEL_API="INFO"
export MUSEFLOW_LOG_HANDLERS_API='["console"]'
export MUSEFLOW_LOG_LEVEL_CLI="INFO"
export MUSEFLOW_LOG_HANDLERS_CLI='["rich"]'

# Load environment variables from .env to override defaults and supply secrets.
dotenv
